# Python cache files
__pycache__/
*.pyc

# Virtual environment files
venv/
env/

# Logs
*.log

# Build artifacts
*.egg-info/
dist/
build/

# Local configuration files
config.ini
local_settings.py

# Cache directories
.cache/
.config/

# Replit files
.replit
replit.nix

# Poetry files
poetry.lock
pyproject.toml

# Other
.upm
venv/
